        p {
           color: rgb(255, 0, 179);
        }
        .bbb{
            color:blueviolet;
            font-family:'Courier New', Courier, monospace
        }
        .aaa{
            color: rgb(107, 25, 25);
            font-family:'Courier New', Courier, monospace
        }
        #bb{
            color: rgb(243, 19, 19);
            font-size: 36px;
        }
        /* #ab{
            color: brown;
        } */
        p, .aaa, .bbb{
            font-weight: 600;
        }
        #ee{
            /* border: 2px solid grey; */
            padding: 10px;
            margin: 10px 60px 10px 30px;
            border-top: 2px solid rgb(156, 214, 19);
            border-right: 2px dotted rgb(84, 134, 34);
            border-left: 5px double rgb(84, 134, 34);
            border-bottom: 2px dashed cornflowerblue;
            border-radius: 20px;
        }
        @media(max-width: 600px){
                body{
                    background-color: rgb(111, 235, 235);
                }
        }